<!DOCTYPE html>
<html>
<head>
  <title>Colin Design Solutions</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
	<%= stylesheet_link_tag 'application', '//fonts.googleapis.com/css?family=Lato:400,300,700', media: 'all', 'data-turbolinks-track' => true %>
</head>
<body>
<%= render 'navbar' %>
<%= yield %>

</body>
</html>
